<div class="row">
  <form role="form form-horizontal">
    <div class="form-group">
      Insert text for <a href ng-click="main.filename = 'examples/bed6.bed'; main.load(main.filename)">BED6</a>, <a href ng-click="main.filename = 'examples/bed9.bed'; main.load(main.filename)">BED9</a>, or <a href ng-click="main.filename = 'examples/bed12.bed'; main.load(main.filename)">BED12</a> below, or choose an example.
      <select class="form-control" ng-model="main.filename" ng-change="main.load(main.filename)">
        <option value=""></option>
        <option value="examples/bed6.bed">BED6</option>
        <option value="examples/bed9.bed">BED9</option>
        <option value="examples/bed12.bed">BED12</option>
      </select>
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="10" ng-model="main.bedText" placeholder="Paste data here"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="main.process()">View</button>
    </div>
  </form>
</div>

<div class="row well" ng-show="main.bedArray.length">
  <svg id="chart" width="100%" ng-attr-height="{{main.svgHeight}}px">
    <g ng-repeat="track in main.bedArray track by $index" ng-attr-transform="translate({{main.margin.left}},{{main.margin.top+track.offset}})">
      <g primer-track start="track.start" sequence-length="track.length" width="main.trackWidth" height="yScale(1)">
        <g primer-scale orient="top" ></g>
        <g primer-label anchor="start" orient="top" transform="translate(-10)">
          <text text-anchor="end" alignment-baseline="middle">{{track.key}}</text>
        </g>
        <g ng-attr-transform="translate(0,{{yScale($index)+5}})" ng-repeat="feature in track.values track by $index">
          <g primer-feature start="feature.chromStart" end="feature.chromEnd" class="feature">
            <g primer-label anchor="start" orient="middle" >
              <text text-anchor="end" transform="translate(-3)">{{feature.name}}</text>
            </g>
            <g primer-scale ticks="0"></g>
          </g>
          <g primer-feature start="block.start" end="block.end" ng-repeat="block in feature.blocks track by $index">
            <g primer-feature-shape="{{feature.shape}}" class="marker" height="8" fill="rgb({{feature.itemRgb}})"></g>
          </g>
        </g>
      </g>
    </g>
  </svg>
  <button class="btn btn-primary pull-right" svg-download="#chart" title="mysvg">Download SVG</button>
</div>
